body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 100;
    
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.wrapper .main-panel form button{
    align-items: self-end;
}
